{% extends "base.html" %}
{%block title%}{{pin}}{%endblock%}
{%block head%}
	<script src="/static/libraries/ChessBoard.min.js"></script>
	<script>var pin = "{{pin}}";</script>
	<link rel="stylesheet" href="/static/styles/Game.css">
{%endblock%}
{%block main%}
	<chess-board-></chess-board->
	<div class="player-infos">

	</div>
	<dialog id="nameDialog">
		<h2>Name</h2>
		<form method="dialog">
			<input type="text" id="userNameTextBox">
			<input type="submit" value="Go">
		</form>
	</dialog>
	<dialog id="ErrorModal"></dialog>
	<script src="static/scripts/Game.js"></script>
{%endblock%}
