{% extends "base.html" %}
{%block title%}{{pin}}{%endblock%}
{%block head%}
	<script src="/static/ChessBoard.min.js"></script>
	<script>var pin = "{{pin}}";</script>
	<style>
		main div,
		chess-board-{
			display: block;
			position: sticky;
			top: 1em;
			aspect-ratio: 1 / 1;
			max-height: calc(100vw - 4.5em /* margin and width of nav */);
			height: 100%;
			justify-self: left;
			border-radius: 1em;
		}
		main{
			display: grid;
			height: 100%;
			box-sizing: border-box;
			grid-template-columns: auto 1fr;
		}
		@media (orientation: portrait) {
			main{
				grid-template-columns: 1fr;
			}
		}
	</style>
{%endblock%}
{%block main%}
	<chess-board-></chess-board->
	<div class="player-infos">

	</div>
	<dialog id="nameDialog">
		<h2>Name</h2>
		<form method="dialog">
			<input type="text" id="userNameTextBox">
			<input type="submit" value="Go">
		</form>
	</dialog>
	<dialog id="ErrorModal"></dialog>
	<script>
		var nameDialog = document.getElementById("nameDialog");
		var userNameTextBox = document.getElementById("userNameTextBox");
		var chessBoard = document.getElementById("ChessBoard");
		var ErrorModal = document.getElementById("ErrorModal");
		ErrorModal.addEventListener("click",e=>{
			rect = e.target.getBoundingClientRect();
			if (
				e.clientX < rect.left ||
				e.clientX > rect.right ||
				e.clientY < rect.top ||
				e.clientY > rect.bottom
			){
				e.target.close();
			}
		})
		nameDialog.showModal();
		nameDialog.addEventListener('cancel', e => e.preventDefault());
		nameDialog.addEventListener('close', e => {
			let xhr = new XMLHttpRequest();
			xhr.open("POST", "/joinGame");
			
			xhr.setRequestHeader("Accept", "application/json");
			xhr.setRequestHeader("Content-Type", "application/json");

			xhr.onload = () => {
				data = JSON.parse(xhr.responseText);
				if ("error" in data){
					ErrorModal.textContent = "ERROR: " + data["error"];
					ErrorModal.showModal();
					return;
				}
				console.log(data)
			}
			xhr.send({
				userName: userNameTextBox.value,
				pin: pin,
			});

			xhr = new XMLHttpRequest();
			xhr.open("GET", `/getGameObject/${pin}`);
			
			xhr.setRequestHeader("Accept", "application/json");
			xhr.setRequestHeader("Content-Type", "application/json");

			xhr.onload = () => {
				console.log(xhr.responseText)
				data = JSON.parse(xhr.responseText);
				if ("error" in data){
					ErrorModal.textContent = "ERROR: " + data["error"];
					ErrorModal.showModal();
					return;
				}
				chessBoard.setAttribute("size",data["size"]);
				chessBoard.refreshBoard();
			}
			xhr.send();

		});
	</script>
{%endblock%}
